body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

img, input {
    border: 0;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

.clear {
    zoom: 1;
}

li {
    list-style: none
}

i, em {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    table-layout: fixed;
}

body, html {
    font-size: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}

/*遮罩层*/

.mask_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    filter: alpha(opacity=30);
    /*IE滤镜，透明度50%*/
    -moz-opacity: 0.3;
    /*Firefox私有，透明度50%*/
    opacity: 0.3;
    /*其他，透明度50%*/
    z-index: 999988
}

.loading_box {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 999998;
}

.loaderSpinner {
    width: 100%;
    height: 100%;
    color: #f1f1f1;
    animation: rotate 2s linear infinite;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.button {
    display: inline-block;
    vertical-align: top;
    border: 1px solid transparent;
    width: 55px;
    height: 30px;
    line-height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button.btn-primary {
    background: #428bca;
    color: #fff;
}

.button.btn-success {
    background: #00ca6b;
    color: #fff;
}

.button.btn-default {
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

.button.btn-error {
    background: #ca2700;
    color: #fff;
}

.removeLabel {
    margin-left: 10px;
}

.LabelImage {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/*
      头部工具栏
     */

.toolHead {
    width: 100%;
    background: -webkit-linear-gradient(left, #2b334a, #27405d);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #2b334a, #27405d);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #2b334a, #27405d);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #2b334a, #27405d);
    /* 标准的语法 */
    height: 60px;
    position: relative;
}

.toolHead .toolMuster {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.toolMuster .logoGroup {
    position: relative;
}

.toolMuster .logoGroup .logo {
    width: 42px;
    height: 42px;
    background: url("../images/logo.png") no-repeat 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.toolMuster .logoGroup .logoTitle {
    text-indent: 60px;
    font-size: 28px;
    line-height: 60px;
    color: #fff;
}

/*
      左侧工具栏
     */

.assistFeatures p {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.assistFeatures .featureList {
    height: 60px;
    color: #b3b3b3;
    text-align: center;
    line-height: 1.5;
    vertical-align: top;
    cursor: pointer;
}

.assistFeatures .featureList i.bg {
    font-style: normal;
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 5px;
}

.assistFeatures .featureList span {
    font-size: 12px;
    display: block;
}

.assistFeatures .screenFull i.bg {
    background: url(../images/toolIcons2.png) no-repeat 0 -507px;
}

.assistFeatures .screenFull:hover i.bg {
    background: url(../images/toolIcons2.png) no-repeat -96px -507px;
}

.assistFeatures .openVideo i.bg {
    background: url(../images/toolIcons2.png) no-repeat 0 -1171px;
}

.assistFeatures .openVideo:hover i.bg {
    background: url(../images/toolIcons2.png) no-repeat -100px -1168px;
}

.assistFeatures .showHistory i.bg {
    background: url(../images/toolIcons2.png) no-repeat 2px -1258px;
}

.assistFeatures .showHistory:hover i.bg {
    background: url(../images/toolIcons2.png) no-repeat -102px -1257px;
}

.assistFeatures .screen-shot-tool i.bg {
    background: url(../images/toolIcons2.png) no-repeat 0px -1533px;
}

.assistFeatures .screen-shot-tool:hover i.bg {
    background: url(../images/toolIcons2.png) no-repeat -99px -1530px;
}

.assistFeatures .dividingLine {
    width: 1px;
    height: 28px;
    background: #ff0000;
    margin-top: 16px;
    margin-right: 20px;
    display: inline-block;
}

.assistFeatures .clientHelp {
    margin-right: 20px;
}

.assistFeatures .clientHelp i.bg {
    background: url(../images/toolIcons2.png) no-repeat 0 -576px;
}

.assistFeatures .clientHelp:hover {
    background: rgba(255, 255, 255, 0.2);
}

.assistFeatures .clientHelp:hover span {
    color: #fff;
}

.assistFeatures .clientExit {
    margin-right: 20px;
}

.assistFeatures .clientExit i.bg {
    background: url(../images/toolIcons2.png) no-repeat 0 -672px;
}

.assistFeatures .clientExit:hover i.bg {
    background: url(../images/toolIcons2.png) no-repeat -96px -672px;
}

.assistFeatures .clientExit:hover span {
    color: #fff;
}

/*

    history弹窗
        */

.history-modal {
    padding-top: 10px;
}

.history-modal .history-query {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293b558a;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.history-query .history-label {
    width: 100px;
}

.history-modal .history-btn {
    cursor: pointer;
    border: 1px solid #e6e6e6;
    padding: 8px 0;
    width: 200px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.history-modal .history-btn-wrapper {
    display: flex;
    justify-content: center;
}

.history-modal .history-btn:hover {
    background-color: #293b558a;
    color: #fff;
}

/*
     canvasMain 标注画板主体内容
    */

.canvasMain {
    width: 100%;
    flex: auto;
    height: 0;
    display: flex;
    background: #434343;
    position: relative;
}

.canvasMain .toolFeatures {
    background: #21293c;
    width: 60px;
    height: 100%;
    position: relative;
}

.toolFeatures .version {
    position: absolute;
    width: 60px;
    left: 0;
    bottom: 0;
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.toolFeatures .separator {
    width: 50px;
    height: 2px;
    background: #999;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#tools-up {
    display: none;
}

.toolFeatures .toolSet-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolFeatures .toolSet {
    width: 36px;
    height: 36px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #999;
    line-height: 36px;
    text-align: center;
}

.toolFeatures .toolSet:hover {
    background: #767a84;
    color: #fff;
}

.toolFeatures .toolSet.focus {
    background: #767a84;
    color: #fff;
}

.toolFeatures .toolDrag {
    background: url(../images/toolIcons2.png) no-repeat 0 -793px;
}

.toolFeatures .toolDrag.focus {
    background: #757a84 url(../images/toolIcons2.png) no-repeat -96px -793px;
}

.toolFeatures .toolDrag:hover {
    background: #757a84 url(../images/toolIcons2.png) no-repeat -96px -793px;
}

.toolFeatures .toolSegment {
    background: url(../images/toolIcons2.png) no-repeat 0 -864px;
}

.toolFeatures .toolSegment.focus {
    background: #757a84 url(../images/toolIcons2.png) no-repeat -96px -864px;
}

.toolFeatures .toolSegment:hover {
    background: #757a84 url(../images/toolIcons2.png) no-repeat -96px -864px;
}

.toolFeatures .toolRect {
    background: url(../images/toolIcons2.png) no-repeat 0 -985px;
}

.toolFeatures .toolRect.focus {
    background: #757a84 url(../images/toolIcons2.png) no-repeat -96px -985px;
}

.toolFeatures .toolRect:hover {
    background: #757a84 url(../images/toolIcons2.png) no-repeat -96px -985px;
}

.toolFeatures .returnVideo {
    background: url(../images/toolIcons2.png) no-repeat 0 -1569px;
}

.toolFeatures .returnVideo.focus {
    background: #757a84 url(../images/toolIcons2.png) no-repeat -100px -1570px;
}

.toolFeatures .returnVideo:hover {
    background: #757a84 url(../images/toolIcons2.png) no-repeat -100px -1570px;
}

.toolSet-return {
    position: absolute;
    margin-top: 30%;
}

.canvasMain .canvasContent {
    flex: auto;
    width: 0;
    height: 100%;
    position: relative;
}

.canvasContent #canvas {
    cursor: crosshair;
    width: 100%;
    height: 100%;
}

.canvasContent .scaleBox {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 6px 6px 0 6px;
    background: #293245;
    border: 1px solid #3c5167;
}

.canvasContent .scaleBox .scaleCanvas {
    position: relative;
    width: 150px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
}

.canvasContent .scaleBox .scalePanel {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.canvasMain .commentResult {
    width: 300px;
    height: 100%;
    background: #293245;
    border-left: 1px solid #293245;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.commentResult .resultArea {
    position: relative;
    width: 100%;
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.commentResult .resultArea .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    text-indent: 10px;
    -webkit-box-shadow: 0 1px 3px 0 #3c5167;
    -moz-box-shadow: 0 1px 3px 0 #3c5167;
    box-shadow: 0 1px 3px 0 #3c5167;
    background: #212d3f;
}

.commentResult .resultArea .resultList_head {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resultList_head .headChildren {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #3c5167;
    display: flex;
}

.resultList_head .headName {
    width: 145px;
}

.resultList_head .headEdit {
    width: 50px;
}

.resultList_head .headDelete {
    width: 35px;
}

.resultList_head .headDisplay i {
    margin-left: 5px;
}

.resultList_head .headDisplay {
    cursor: pointer;
}

.commentResult .resultArea .resultGroup {
    flex: auto;
    height: 0;
    overflow-y: auto;
}

.resultGroup .result_list {
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #999;
    position: relative;
}

.resultGroup .result_list .result_no {
    width: 28px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
}

.resultGroup .result_list .result_color {
    width: 10px;
    height: 10px;
    background: #ff0000;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.resultGroup .result_list .result_Name {
    width: 180px;
    font-size: 12px;
    line-height: 28px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border: 0;
    background: transparent;
}

.resultGroup .result_list .result_Name[disabled=true] {
    cursor: default;
}

.resultGroup .result_list i {
    display: block;
    position: absolute;
    font-style: normal;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    top: 0;
    cursor: pointer;
}

.resultGroup .result_list .editLabelName {
    right: 126px;
}

.resultGroup .result_list .deleteLabel {
    right: 77px;
}

.resultGroup .result_list .isShowLabel {
    right: 28px;
}

.resultGroup .result_list.active {
    background: #212b3e;
}

.resultGroup .result_list:hover {
    background: rgba(33, 43, 62, 0.6);
}

.resultGroup::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.resultGroup::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 10px;
}

.commentResult .resultArea .resultSelectLabel {
    position: absolute;
    top: 80px;
    right: 70px;
    width: 270px;
    height: 280px;
    padding: 18px 6px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
}

.commentResult .resultArea .resultSelectLabel .selectLabel-ul {
    overflow-y: auto;
}

.commentResult .resultArea .resultSelectLabel .selectLabel-ul li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #999;
    padding: 3px 6px;
    margin: 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.commentResult .resultArea .resultSelectLabel .closeLabelManage {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 18px;
    cursor: pointer;
}

.commentResult .resultArea .resultSelectLabel::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: 50px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #f1f1f1;
}

.commentResult .resultArea .resultSelectLabel::after {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    right: 50px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.commentResult .resultArea .resultSelectLabel.focus {
    -webkit-animation: showSelectLabel 1s ease-out forwards;
    -o-animation: showSelectLabel 1s ease-out forwards;
    animation: showSelectLabel 1s ease-out forwards;
    visibility: visible;
}

.commentResult .resultArea .resultSelectLabel.blur {
    -webkit-animation: hideSelectLabel 1s ease-out forwards;
    -o-animation: hideSelectLabel 1s ease-out forwards;
    animation: hideSelectLabel 1s ease-in forwards;
}

.selectTable {
    padding: 10px;
    font-size: 12px;
}

.selectTable>div {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.selectTable>div label {
    display: inline-block;
    width: 35%;
    text-align: left;
    height: 25px;
    line-height: 25px;
}

.selectTable>div input {
    border: 1px solid #eee;
    width: 60%;
    text-align: left;
    height: 22px;
    padding-left: 3px;
}

.selectTable .select-btm {
    display: flex;
    height: 24px;
    margin-top: 10px;
    justify-content: space-between;
}

.selectTable .closeBtn {
    width: 40%;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    background-color: #29324575;
    color: #fff;
}

.selectTable .closeBtn:hover {
    background-color: #29324567;
    color: #fff;
}

@keyframes showSelectLabel {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes showSelectLabel {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideSelectLabel {
    from {
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@-webkit-keyframes hideSelectLabel {
    from {
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.historyGroup {
    flex: auto;
    overflow-y: auto;
    padding: 5px 0;
    box-sizing: border-box;
    height: 73%;
    margin-top: -7px;
}

.historyGroup::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.historyGroup::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 10px;
}

.historyGroup p {
    color: #333333;
    line-height: 1.8;
    font-size: 12px;
    padding: 0 10px;
    box-sizing: border-box;
}

.historyGroup p:hover {
    background: rgba(0, 0, 0, 0.2);
}

.historyGroup p.active {
    background: rgba(0, 0, 0, 0.4);
}

.historyGroup p.record {
    color: rgb(148, 148, 148);
}

.buttonBtm {
    height: 98%;
    line-height: 35px;
    font-size: 12px;
    padding: 2px 15px;
    border-left: 1px solid #3c5167;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.5s;
}

.buttonBtm:hover {
    background: #9098a396;
}

.closeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid transparent;
    height: 25px;
    line-height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.closeDiv button {
    padding: 5px 25px;
    border-radius: 5px;
}

.closeDiv.btm-primary {
    border: 1px solid #428bca;
    color: #000;
}

.closeDiv.btm-default {
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

.btn-sure {
    margin: -1px 0 0 20px;
}

.videoEdit {
    height: 100%;
    width: 100%;
    position: relative;
}

.videoEdit #picPre {
    position: absolute;
    right: 0;
    top: 0;
    width: 49.8%;
    height: 50%;
    background-color: rgb(255, 255, 255);
}

.videoEdit .videoWrap {
    width: 49.8%;
    height: 50%;
    background-color: #000;
}

.videoEdit .videoWrap #video0 {
    height: 100%;
    width: 100%;
}

.videoWrap .ins-arrow {
    position: absolute;
    margin-top: 7%;
    display: flex;
    color: #fff;
    font-size: 18px;
    display: none;
}

.videoWrap .ins-arrow .arrow {
    width: 90px;
    height: 40px;
    background: url("../images/arrow.png") no-repeat;
}

.videoEdit #screenShot {
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 40px 0 0 40px;
    flex-shrink: 0;
    box-sizing: border-box;
}

#screenShot::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#screenShot::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 10px;
}

.screenShotPic {
    width: 340px;
    height: 200px;
    object-fit: cover;
}

.pic-item {
    position: relative;
    margin: 0 20px 20px 0;
}

.pic-item button {
    border-radius: 50%;
}

.div-Btm {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #fff;
}

.div-Btm>div {
    cursor: pointer;
    width: 33%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    background: rgba(97, 97, 97, 0.671);
    z-index: 10;
}

.div-Btm>div:hover:not(.frame-pic) {
    background: rgba(10, 10, 10, 0.658);
    transition: background-color 0.5s;
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.loadEffect {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 23% auto;
}

.loadEffect span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #48a5f4;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.loadEffect span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-animation-delay: 0.13s;
}

.loadEffect span:nth-child(2) {
    left: 14px;
    top: 14px;
    -webkit-animation-delay: 0.26s;
}

.loadEffect span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -8px;
    -webkit-animation-delay: 0.39s;
}

.loadEffect span:nth-child(4) {
    top: 14px;
    right: 14px;
    -webkit-animation-delay: 0.52s;
}

.loadEffect span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-animation-delay: 0.65s;
}

.loadEffect span:nth-child(6) {
    right: 14px;
    bottom: 14px;
    -webkit-animation-delay: 0.78s;
}

.loadEffect span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    -webkit-animation-delay: 0.91s;
}

.loadEffect span:nth-child(8) {
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay: 1.04s;
}

.e-title {
    padding: 10px;
    font-size: 18px;
}

input[type=file] {
    display: none;
}

/*

    手风琴
    */

#article-parent {
    height: 50%;
}

#article-parent article {
    overflow: hidden;
}

#article-parent article:nth-child(1) {
    overflow: visible;
}

#article-parent header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    text-indent: 10px;
    -webkit-box-shadow: 0 1px 3px 0 #3c5167;
    -moz-box-shadow: 0 1px 3px 0 #3c5167;
    box-shadow: 1px 1px 3px 0 #3c5167;
    background: #212d3f;
}

.params-header, .titleHistoryContent, .form-params {
    border-bottom: 1px solid #3c5167;
}

.two_div {
    /* height: 320px; */
    background-color: #293245;
}

.two_ul {
    display: none;
}

.params-content {
    color: #fff;
    padding: 10px;
}

#editor {
    overflow-y: scroll;
    padding: 10px 0;
    background: #293245;
    border-bottom: 1px solid #3c5167;
}

.editor-textarea::-webkit-scrollbar, #editor::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.editor-textarea::-webkit-scrollbar-thumb, #editor::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 10px;
}

#editor th {
    width: 15%;
}

.editor-textarea {
    border: 1px solid rgb(184, 184, 184);
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 7px;
    padding-left: 5px;
}

#editor .btn-form-report {
    display: flex;
    justify-content: space-between;
}

#editor .form-th-span {
    writing-mode: vertical-lr;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.form-table th {
    color: #fff;
    font-weight: 400;
    width: 30%;
    text-align: right;
}

.form-table .th-header {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #3c5167;
}

.form-table input {
    width: 190px;
    color: #fff;
}

.form-table tr {
    display: flex;
    padding: 3px;
}

.form-table td span {
    display: inline-block;
}

#test1 {
    padding-left: 10px;
    height: 38px;
    min-width: 262px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
}