<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微循环血管健康分析平台</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="./css/preloader.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/switch.css">
    <link rel="stylesheet" href="./css/button.css">
    <link rel="stylesheet" href="./css/popover.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.css">
    <link href="assets/theme/css/base.css" rel="stylesheet">
    <link href="css/highlight.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./js/jBox/jBox.all.css">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>

<body>
    <div id='preloader'>
        <div class='loader' hidden>
            <img src='images/loader.gif' alt>
        </div>
    </div>
    <div class="LabelImage">
        <div class="toolHead">
            <div class="toolMuster">
                <div class="logoGroup">
                    <div class="logo"></div>
                    <div class="logoTitle">微循环血管健康分析平台</div>
                </div>
                <div class="assistTool">
                    <div class="historyGroupModal">
                        <div class="history-date-modal">
                            <label class="form-label-self">日期</label>
                            <input type="text" class="layui-input" ng-model="data.mz" id="test1" placeholder="默认为当天">
                            <button id="test1-btn" class="buttonBtm">确定</button>
                        </div>
                        <div class="history-date-modal">
                            <label class="form-label-self">关键字</label>
                            <input type="text" name="keywords" id="test2" lay-verify="required" ng-model="data.mz"
                                placeholder="请输入" autocomplete="off" class="layui-input">
                            <button id="test2-btn" class="buttonBtm">确定</button>
                        </div>
                        <div class="historyGroup"></div>
                        <div class="closeLabelManage"><span class="icon-remove-sign"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvasMain">
            <!--标注功能工具集-->
            <div class="toolFeatures">
                <div class="assistFeatures">
                    <p class="featureList screenFull" id="featureList1">
                        <i class="bg"></i>
                    </p>
                    <p class="featureList openVideo" id="featureList2">
                        <input class="openVideoInput" type="file" id="video" name="video" hidden>
                        <i class="bg"></i>
                    </p>
                    <p class="featureList showHistory" id="featureList5">
                        <i class="bg expend history"></i>
                    </p>
                    <p class="featureList screen-shot-tool" id="btn-picshot">
                        <i class="bg"></i>
                    </p>
                </div>
                <div class="separator"></div>
                <div id="tools">
                    <div class="toolSet toolDrag focus" id="tools-toolDrag"></div>
                    <div class="toolSet toolTagsManager" id="tools-toolTagsManager"><span class="icon-tags"></span></div>
                    <div class="toolSet toolRect" id="tools-toolRect" title="矩形工具"></div>
                    <div class="toolSet toolPolygon" id="tools-toolPolygon" title="多边形工具"></div>
                    <div class="toolSet returnVideo" id="tools-returnVideo" title="返回视频帧选取界面"></div>
                </div>
                <div class="version">v1.0.0</div>
            </div>
            <div class="canvasContent">
                <div class="videoEdit" style="display: none;">
                    <div class="videoWrap">
                        <video id="video0" controls="controls">
                        </video>
                    </div>
                    <div id="picPre">
                    </div>
                    <div id="screenShot"></div>
                </div>
                <canvas id="canvas"></canvas>
                <div class="scaleBox">
                    <div class="scaleCanvas"></div>
                    <div class="scalePanel"></div>
                </div>
                <div class="loading">
                    <div class="loadEffect">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="commentResult">
                <div class="resultArea">
                    <div class="title" id="title-analysis">
                        <div>
                            标注结果 (<span class="resultLength">0</span>)
                        </div>
                        <button class="analysis buttonBtm">血管分析</button>
                    </div>
                    <div class="resultList_head">
                        <div class="headChildren">
                            <div class="headName">名称</div>
                            <div class="headEdit">修改</div>
                            <div class="headDelete">删除</div>
                            <div class="headDisplay">显/隐</div>
                            <div class="featureList labelShower focus" id="featureList4">
                                <input class="mui-switch mui-switch-anim" type="checkbox">
                                <i class="bg"></i>
                            </div>
                        </div>
                    </div>
                    <div class="resultGroup">
                    </div>
                    <!--    选择标签操作    -->
                    <div class="resultSelectLabel">
                        <p class="selectLabelTip" hidden>请先创建标签</p>
                        <ul class="selectLabel-ul">
                        </ul>
                        <div class="selectTable">
                            <form name="form" method="post" ab-load="demo/demo/get?id={id}" ng-model="data">
                                <table class="form-table">
                                    <tr>
                                        <th><label for="inflow">流入长度</label></th>
                                        <td>
                                            <input type="text" id="inflow" ng-model="data.mz">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="inflow-len">流入直线长度</label></th>
                                        <td>
                                            <input type="text" id="inflow-len" ng-model="data.mz">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="inflow-pipe">流入端管径</label></th>
                                        <td>
                                            <input type="text" id="inflow-pipe" ng-model="data.mz">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="loop-pipe">袢顶管径</label></th>
                                        <td>
                                            <input type="text" id="loop-pipe" ng-model="data.mz">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="outflow">流出长度</label></th>
                                        <td>
                                            <input type="text" id="outflow" ng-model="data.mz">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="outflow-len">流出直线长度</label></th>
                                        <td>
                                            <input type="text" id="outflow-len" ng-model="data.mz">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th> <label for="outflow-pipe">流出端管径</label></th>
                                        <td>
                                            <input type="text" id="outflow-pipe" ng-model="data.mz">
                                        </td>
                                    </tr>
                                    <tr>
                                        <strong>单位是um</strong>
                                    </tr>
                                    <tr>
                                        <th><button class="closeBtn btm-primary expend expend-sure">确定</button></th>
                                        <td><button class="closeBtn btm-default expend expend-quit">取消</button></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="closeLabelManage"><span class="icon-remove-sign"></span></div>
                    </div>
                </div>
                <div class="scaleParams">
                    <!-- <div>
                        <span>血管参数平均值 ：</span>
                        <span class="average">...</span>
                    </div> -->
                    <div>
                        <span>流速白微栓参数 ：</span>
                        <span id="baiweishuan">...</span>
                    </div>
                    <div>
                        <span>流速 ：</span>
                        <span id="speed">...</span>
                    </div>
                </div>
                <div class="historyContent">
                    <div class="title titleHistoryContent">
                        <div>健康报告</div>
                        <button class="buttonBtm btm-primary downloadReport">生成健康报告</button>
                        <button class="buttonBtm btm-primary saveReport">保存结果</button>
                    </div>
                    <div id="editor">
                        <form name="form" method="post" ab-load="demo/demo/get?id={id}" ng-model="data">
                            <table class="form-table">
                                <tr>
                                    <th><label class="control-label form-th-span" for="ng-inspect">检查所见</label></th>
                                    <td>
                                        <textarea id="ng-inspect" class="form-control e-inspect editor-textarea"
                                            type="text" ng-model="data.mz" cols="28" rows="5"
                                            placeholder="请输入内容"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label class="control-label form-th-span" for="ng-eval">评估结论</label></th>
                                    <td>
                                        <textarea id="ng-eval" class="form-control e-eval editor-textarea" type="text"
                                            ng-model="data.mz" cols="28" rows="5" placeholder="请输入内容"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label class="control-label form-th-span" for="ng-suggest">健康建议</label></th>
                                    <td>
                                        <textarea id="ng-suggest" class="form-control e-suggest editor-textarea"
                                            type="text" ng-model="data.mz" cols="28" rows="5"
                                            placeholder="请输入内容"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>
                </div>

            </div>

            <!--  标签管理  -->
            <div class="labelManage">
                <div class="labelManage-Info">
                    <div class="labelManage-menu">
                        <div class="labelManage-search"><input type="text" class="labelSearch-input"
                                placeholder="按回车搜索" /></div>
                        <div class="labelManage-createLabel"><button
                                class="button btn-primary labelManage-createButton">创建</button></div>
                    </div>
                    <div class="labelManage-subList">标签列表：</div>
                    <div class="labelManage-group">
                        <p class="labelTip" hidden>请先创建标签</p>
                        <ul class="labelManage-ul">
                        </ul>
                    </div>
                </div>
                <div class="labelManage-create">
                    <div class="labelManage-Title">创建标签</div>
                    <div class="labelCreate labelCreate-name">
                        <label>标签名称：</label>
                        <input type="text" class="labelCreate-nameInput">
                    </div>
                    <div class="labelCreate labelCreate-color">
                        <label>标签颜色：</label>
                        <span class="colorPicker" id="colorPicker"></span>
                        <input class="colorHex" id="colorHex" value="#ff0000" data-r="255" data-g="0" data-b="0"
                            readonly>
                    </div>
                    <div class="labelCreate">
                        <button class="button btn-error removeLabel" title="删除标签">删除</button>
                    </div>
                    <div class="labelCreateButtons">
                        <button class="button btn-success addLabel">确定</button>
                        <button class="button btn-default closeAdd">取消</button>
                    </div>
                </div>
                <div class="closeLabelManage"><span class="icon-remove-sign"></span></div>
            </div>
        </div>

        <div class="mask_box" hidden></div>
        <div class="loading_box" hidden id="loading">
            <div class="loaderSpinner">
                <span class="icon-spinner"></span>
            </div>
            <b class="closes"></b>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="js/videoFrame/VideoFrame.min.js"></script>
    <script src="js/jBox/jBox.all.js"></script>
    <script src="js/preloader.js"></script>
    <script src="js/colorPicker/colorPicker.js"></script>
    <script src="js/webAnnotate.js"></script>
    <script src="js/operator.js"></script>
    <script src="js/video.handle.js"></script>
    <script src="js/jBox.operator.js"></script>
</body>

</html>